@tailwind base;
@tailwind components;
@tailwind utilities;

@duration: 0.5s;
@size: 2rem;

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* background-color: #313846; */
}

