@tailwind base;
@tailwind components;
@tailwind utilities;

@duration: 0.5s;
@size: 2rem;

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* background-color: #313846; */
}

.dot-loader {
  animation: dot-loader-animation 1.5s linear infinite;
}

.dot-loader-dot {
  animation: dot-loader-animation 1.5s linear infinite;
}

@keyframes dot-loader-animation {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
}